//- Widget Chat Nổi (Luôn hiện bong bóng)
.chat-widget-trigger#chatWidgetTrigger
  i.fas.fa-comments
  span.chat-badge.d-none 0
  
.chat-widget-box#chatWidgetBox.d-none
  .chat-widget-header
    span 
      i.fas.fa-headset.mr-2
      | Trò chuyện cùng Shop
    button.chat-widget-close#chatWidgetClose &times;

  if clientUser
    .chat-widget-body#chatBody
      .chat-loading.text-center.my-3
        i.fas.fa-spinner.fa-spin.text-primary

    //- Emoji picker (Web Component) ẩn
    .emoji-picker#emojiPicker
      emoji-picker.light
    
    //- Khung Preview Hình ảnh Widget
    .chat-image-preview
      .custom-file-container(data-upload-id="chat-upload")

    .chat-widget-footer
      form#chatForm.chat-form.m-0
        input(type="hidden" id="chatUserId" value=clientUser._id)
        input(type="hidden" id="chatUserName" value=clientUser.fullName)
        .chat-input-wrap.d-flex.align-items-center
          button.chat-emoji-btn(type="button" id="emojiBtn" title="Emoji")
            i.far.fa-smile
          label.chat-image-btn.mb-0(for="file-upload-with-preview-chat-upload" title="Gửi file/ảnh")
            i.fas.fa-paperclip
          input.chat-input.flex-grow-1(type="text" id="chatInput" placeholder="Nhập tin nhắn..." autocomplete="off")
          button.chat-send-btn(type="submit" title="Gửi")
            i.fas.fa-paper-plane
          input(type="file" class="custom-file-container__custom-file__custom-file-input" id="file-upload-with-preview-chat-upload" multiple class="tz-auto-224b51")
  else
    .chat-widget-body.d-flex.align-items-center.justify-content-center(class="tz-auto-ffaa60")
      .text-center.p-3
        i.fas.fa-lock.fa-3x.text-muted.mb-3
        h6.text-dark Đăng nhập để nhắn tin
        p.text-muted(class="tz-auto-766745") Vui lòng đăng nhập tài khoản để được đội ngũ CSKH hỗ trợ tốt nhất.
        a.btn.btn-primary.btn-sm.btn-block.mb-2(href="/user/login") Đăng nhập
        a.btn.btn-outline-primary.btn-sm.btn-block(href="/user/register") Đăng ký mở tài khoản

//- Thư viện JS Widget Chat (Luôn được load để xử lý đóng mở bong bóng)
if clientUser
  script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")
  script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.22.8/index.js")
script(type="module" src="/client/js/widget-chat.js")
