include ../mixins/menu-category.pug

header.tz-header.sticky-top.bg-white.shadow-sm
  //- TẦNG 1: SEARCH BAR & TOOLBAR
  .tz-header-top.border-bottom
    .container
      .row.align-items-center.py-3
        //- Cột Logo
        .col-lg-3.col-md-4.col-6
          a.tz-logo.d-flex.align-items-center.text-decoration-none(href="/")
            i.fas.fa-bolt.text-primary.mr-2.tz-logo-icon
            span.font-weight-bold.text-dark.tz-logo-text TechZone
        
        //- Cột Thanh tìm kiếm
        .col-lg-5.d-none.d-lg-block
          form.tz-search-form.mb-0(action="/products" method="GET")
            .input-group
              .input-group-prepend
                span.input-group-text.bg-white.border-right-0
                  i.fas.fa-search.text-muted
              input.form-control.border-left-0(type="text" name="keyword" placeholder="Tìm kiếm sản phẩm, thương hiệu..." autocomplete="off")
              .input-group-append
                button.btn.btn-primary.tz-search-btn(type="submit") Tìm
        
        //- Cột Công cụ xử lý
        .col-lg-4.col-md-8.col-6.text-right
          .tz-header-tools.d-flex.justify-content-end.align-items-center
            //- Nút chuyển ngôn ngữ
            .tz-lang-switch.mr-4.d-none.d-md-block
              span.badge.badge-primary.p-2.px-3.text-primary.tz-lang-badge VN / EN
            
            //- Mini giỏ hàng
            a.tz-tool-icon.mr-4.position-relative.text-dark(href="/cart")
              i.fas.fa-shopping-cart
              span.badge.badge-danger.badge-pill.position-absolute#miniCartBadge= cartTotalQuantity || 0
            
            //- Khu vực Người dùng — Shopee-style hover popup
            if clientUser
              .tz-user-popup-wrap
                a.tz-tool-icon.text-dark(href="/user/info")
                  i.fas.fa-user-circle
                .tz-user-popup
                  .tz-user-popup-header
                    .tz-user-popup-avatar
                      if clientUser.avatar
                        img(src=clientUser.avatar alt=clientUser.fullName)
                      else
                        i.fas.fa-user-circle
                    .tz-user-popup-name= clientUser.fullName
                  .tz-user-popup-body
                    a.tz-user-popup-item(href="/user/info")
                      i.fas.fa-user.mr-2
                      | Tài khoản của tôi
                    a.tz-user-popup-item(href="/orders")
                      i.fas.fa-clipboard-list.mr-2
                      | Đơn mua
                  .tz-user-popup-footer
                    a.tz-user-popup-item.tz-user-popup-logout(href="/user/logout")
                      i.fas.fa-sign-out-alt.mr-2
                      | Đăng xuất
            else
              .tz-user-popup-wrap
                a.tz-tool-icon.text-dark(href="/user/login")
                  i.fas.fa-user
                .tz-user-popup
                  .tz-user-popup-guest
                    a.tz-popup-btn-login(href="/user/login") Đăng nhập
                    a.tz-popup-btn-register(href="/user/register") Đăng ký


