include ../mixins/menu-category.pug

nav.navbar.navbar-expand-lg.navbar-dark.shadow-sm
  .container
    a.navbar-brand.d-flex.align-items-center(href="/")
      img(src="/images/logo.svg" alt="Logo" width="48" height="48")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="/")
            i.fas.fa-home.mr-1
            | Trang chủ

        //- Menu Sản phẩm (Shopee-style mega dropdown)
        +navShopeeMega("Sản phẩm", "fas fa-box", "/products", productCategories, "/products", "category")

        //- Menu Bài viết (Shopee-style mega dropdown)
        +navShopeeMega("Bài viết", "fas fa-newspaper", "/articles", articleCategories, "/articles", "category")
