html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap")
    link(rel="stylesheet", href="/admin/css/style.css")
  body.admin-page
    //- Sidebar
    include ../partials/sider.pug

    //- Overlay for mobile
    .admin-sider-overlay#siderOverlay

    //- Content Wrapper
    .admin-content-wrapper
      //- Top Header
      include ../partials/header.pug

      //- Flash Messages
      .flash-container#flashContainer
        if messages.success && messages.success.length
          each msg in messages.success
            .flash-toast.flash-success
              i.fas.fa-check-circle.flash-icon
              span.flash-text= msg
              button.flash-close(type="button") &times;
        if messages.error && messages.error.length
          each msg in messages.error
            .flash-toast.flash-error
              i.fas.fa-exclamation-circle.flash-icon
              span.flash-text= msg
              button.flash-close(type="button") &times;

      //- Main Content
      main.admin-main
        block main

      //- Footer
      include ../partials/footer.pug

    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous")
    script(src="/admin/js/script.js")
    script(src="/admin/js/flash.js")
    block scripts