extends ../../layouts/default.pug

block main
  .auth-page
    .auth-container
      .auth-card
        .auth-header
          .auth-logo
            i.fas.fa-key
          h2.auth-title Quên mật khẩu
          p.auth-subtitle Nhập email để nhận mã xác nhận

        if messages.error && messages.error.length > 0
          .auth-flash-error
            i.fas.fa-exclamation-circle
            span= messages.error[0]

        form(action="/user/password/forgot" method="POST")
          .auth-form-group
            label Email
            .auth-input-wrapper
              i.fas.fa-envelope
              input(type="email" name="email" placeholder="Nhập email..." required)
          button.auth-btn(type="submit")
            i.fas.fa-paper-plane
            |  Gửi mã OTP

        .auth-footer
          a(href="/user/login") Quay lại đăng nhập
