aside.admin-sider#adminSider
  .admin-sider-brand
    img(src="/images/logo.svg" alt="Logo")
    span Admin Panel

  nav.admin-sider-nav
    ul.list-unstyled.mb-0
      li.sider-menu-item
        a.sider-menu-link(href=`${prefixAdmin}/dashboard` class=(currentPage === "dashboard" ? "active" : ""))
          i.fas.fa-th-large
          span Tổng quan

    .sider-menu-label Bài viết
    ul.list-unstyled.mb-0
      li.sider-menu-item.has-submenu
        a.sider-menu-link.submenu-toggle(href="javascript:void(0)")
          i.fas.fa-newspaper
          span Bài viết
          i.fas.fa-chevron-right.submenu-arrow
        ul.sider-submenu.list-unstyled
          li
            a.sider-submenu-link(href="#") Thêm bài viết
          li
            a.sider-submenu-link(href="#") Danh sách
          li
            a.sider-submenu-link(href="#") Danh mục

      li.sider-menu-item
        a.sider-menu-link(href="#")
          i.fas.fa-photo-video
          span Media

    .sider-menu-label Bán hàng
    ul.list-unstyled.mb-0
      li.sider-menu-item.has-submenu(class=(currentPage === "products" || currentPage === "product-create" || currentPage === "product-category" ? "open" : ""))
        a.sider-menu-link.submenu-toggle(href="javascript:void(0)")
          i.fas.fa-box
          span Sản phẩm
          i.fas.fa-chevron-right.submenu-arrow
        ul.sider-submenu.list-unstyled
          li
            a.sider-submenu-link(href=`${prefixAdmin}/products/create` class=(currentPage === "product-create" ? "active" : "")) Thêm sản phẩm
          li
            a.sider-submenu-link(href=`${prefixAdmin}/products` class=(currentPage === "products" ? "active" : "")) Danh sách
          li
            a.sider-submenu-link(href=`${prefixAdmin}/product-category` class=(currentPage === "product-category" ? "active" : "")) Danh mục

      li.sider-menu-item.has-submenu
        a.sider-menu-link.submenu-toggle(href="javascript:void(0)")
          i.fas.fa-shopping-cart
          span Đơn hàng
          i.fas.fa-chevron-right.submenu-arrow
        ul.sider-submenu.list-unstyled
          li
            a.sider-submenu-link(href="#") Danh sách
          li
            a.sider-submenu-link(href="#") Trạng thái

      li.sider-menu-item.has-submenu
        a.sider-menu-link.submenu-toggle(href="javascript:void(0)")
          i.fas.fa-chart-bar
          span Báo cáo
          i.fas.fa-chevron-right.submenu-arrow
        ul.sider-submenu.list-unstyled
          li
            a.sider-submenu-link(href="#") Doanh thu
          li
            a.sider-submenu-link(href="#") Thống kê

    .sider-menu-label Khách hàng
    ul.list-unstyled.mb-0
      li.sider-menu-item
        a.sider-menu-link(href="#")
          i.fas.fa-users
          span Khách hàng

      li.sider-menu-item
        a.sider-menu-link(href="#")
          i.fas.fa-comments
          span Bình luận/Đánh giá

      li.sider-menu-item
        a.sider-menu-link(href="#")
          i.fas.fa-envelope
          span Liên hệ
